head {
    font-size:50%;
    font-family:"Times New Roman", serif;
    text-align:left;
}

ul;nav { margin-left:0px;
    font-size:50%;
    font-family:"Times New Roman",serif;
    text-align:left;
} 


body {
    font-size:100%;
    font-family:"Times New Roman",serif;
    text-align:left;
}
em {
    font-family:"Times New Roman",cursive;
   
}
h4 {font-size:70%;
    margin-left:0px;
	margin-top:30px;
}

em {list-style:none;
    position:absolute;
    margin-left:100px;
}

li { font-size:60%;
    font-family:"Times New Roman",serif;
    list-style:none;
    text-align-last:left;
}


    
    
